body{
    background-color: darkolivegreen;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform:uppercase ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 600px;
    margin-left: 450px;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
input{
    padding: 4px;
}
.enviar{
    padding: 10px;
    margin: 20px;
    margin-left: -13px;
    width: 200px;
    font-size: 15px;
}